 .img-logo {
    width: 60px;
    background-color: #fff;
    border-radius: 100%;
    padding: 8px;
    margin-top: -10px;
}

.btn-mat {
    background-color: #fff;
    color: #000;
    font-size: 16px;
}

.mat-toolbar {
    -ms-box-shadow: 6px 6px 4px rgba(0,0,0,0.5);
    -o-box-shadow: 6px 6px 4px rgba(0,0,0,0.5);
    box-shadow: 6px 6px 4px rgba(0,0,0,0.5);
    z-index: 1;
}


