a {
    display: flex;
    align-items: center;
}

.mat-list-item:hover {
    background-color: rgba(0, 0, 153, 0.534);
    color: #fff;
    font-weight: 400;
    -ms-transition: .7s ease-in-out;
    -o-transition: .7s ease-in-out;
    -moz-transition: .7s ease-in-out;
    transition: .7s ease-in-out;
}

.mat-icon:hover {
    color: #fff;
}


a > .mat-icon {
    font-size: 22px;
}

a span {
    margin-left: 5px;
}